<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

    <base href="/" />

  </head>

  <body>
    <%- include layout/navbar %>
    <div class="row" ng-controller="RemoteStreamsController as rtc">
      <div class="col-md-9">
        <div class="remoteStreams">
          <div class="remoteStreams">
            <br><br>
            <div id="remoteVideosContainer"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="localStream">
          <br>
          <h3>{{ rtc.group.character }} @ {{ act.name }} # {{ act.type==1?rtc.group.sclass:""}}</h3>
          <hr>
          <div id="map"></div>
          <hr>
          <div id="localVideo"></div>
          <!--<video id="localVideo" muted="muted" autoplay="true"></video>-->
          <br/>
          <hr>
          <h6>{{ 10 - countTime }}s for auto-reload</h6>
        </div>

      </div>
    </div>



    <%- include layout/links %>

    <script src='//static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
    <%- include utility/mapjs %>
    <script src="/javascripts/bootstrap-3.3.6/bootstrap.min.js"></script>

    <script type="text/javascript">
      // Initialize API key, session, and token, generated from server side
    var apiKey = "<%= OpenTokKey %>";
    var sessionId = "<%= sessionId %>";
    var token = "<%= token %>";

    // Enable console logs for debugging
    TB.setLogLevel(TB.DEBUG);

    // Initialize session, set up event listeners, and connect
    var session = OT.initSession(apiKey, sessionId); 
    var publisher = OT.initPublisher('localVideo', {resolution: '320x240', publishAudio:true, publishVideo:false});
    session.on({ 
      streamCreated: function(event) { 
        // add stream to div videos
        session.subscribe(event.stream, "remoteVideosContainer", {width:720, height:540, insertMode: 'append'}); 
      } 
    }); 
    session.connect(token, function(error) {
      if (error) {
        console.log( error );
      } else {
        // Create publisher and start streaming into the session
        session.publish(publisher); 
      }
    });
    </script>
  </body>
</html>

